<%= form_for(@for_select) do |f| %>
  <% if @for_select.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@for_select.errors.count, "error") %> prohibited this for_select from being saved:</h2>

      <ul>
      <% @for_select.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :grouper %><br>
    <%= f.text_field :grouper %>
  </div>
  <div class="field">
    <%= f.label :option_order %><br>
    <%= f.number_field :option_order %>
  </div>
  <div class="field">
    <%= f.label :facility %><br>
    <%= f.text_field :facility %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
