<%= form_for(@for_select) do |f| %>
  <% if @for_select.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@for_select.errors.count, "error") %> prohibited this for_select from being saved:</h2>

      <ul>
      <% @for_select.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="large-3 columns panel radius">
    <div class="panel callout radius">
      <div>
        <%= f.label :code %>
        <%= f.text_field :code %>
      </div>
      <div>
        <%= f.label :value %>
        <%= f.text_field :value %>
      </div>
      <div>
        <%= f.label :text %>
        <%= f.text_field :text %>
      </div>
      <div>
        <%= f.label :grouper %>
        <%= f.text_field :grouper %>
      </div>
      <div>
        <%= f.label :option_order %>
        <%= f.number_field :option_order %>
      </div>
      <div>
        <%= f.label :facility %>
        <%#= f.text_field :facility %>
        <%#= f.select(:facility, grouped_options_for_select(@grouped_options), prompt: 'Choose Facility') %>
        <%= select_tag(:sFor_select_facility, grouped_options_for_select(@grouped_options), prompt: 'Please Select') %>
      </div>
      <div>
        <%= f.submit class: "button tiny radius"%>
      </div>
    </div>
    
  </div>
</div>
<% end %>
