<%= form_for(@key) do |f| %>
  <% if @key.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@key.errors.count, "error") %> prohibited this key from being saved:</h2>

      <ul>
      <% @key.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel callout radius">
    <div>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <div>
      <%= f.label :number %>
      <%= f.text_field :number %>
    </div>
    <div id="divFacility">
      <%= f.label :facility %>
      <%#= f.text_field :facility %>
      <%= f.select(:facility, grouped_options_for_select(@grouped_options2), prompt: 'Choose Facility') %>
    </div>
    <div>
      <%= f.label :company %>
      <%#= f.text_field :ward %>
      <%= f.select(:company, grouped_options_for_select(@grouped_options), prompt: 'Choose Company') %>
    </div>
    <div>
      <%= f.label :checkout %>
      <%= f.date_field :checkout %>
    </div>
    <div>
      <%= f.label :checkin %>
      <%= f.date_field :checkin %>
    </div>
  </div> 

  <div class="row">
    <div class="small-6 columns">
      <%= f.submit(class: 'button tiny radius') %>
    </div>
    <div class="small-6 columns">
      <%= link_to("Cancel", "#", id: "bCancel", class: "button tiny radius") %>
    </div>       
  </div>

<% end %>
