<div class="row">
  <div class="large-3 large-centered columns alignCenterNoPadding">
    <h3>Company List  (Mid-Hudson)</h3>
  </div>
</div>

<div class="row">  
  <div class="large-9 columns">
    <div class="panel radius">
      <div class="panel callout radius">
              <%= search_form_for @q, id: 'fKey_filter', remote: true do |f| %>
          <div class="row collapse">

            <div class="hide">
              <div class="small-2 columns">
                <%= f.submit class: 'button tiny radius' %>           
              </div>
            </div>

            <div class="small-12 columns">
              <div class="row collapse">
                <div class="small-2 columns">
                  <%= f.label(:company_eq, "Company", class: "right inline")  %>
                </div>
                <div class="small-2 left columns">
                  <%#= f.search_field :company_cont %>
                  <%= f.select(:company_eq, grouped_options_for_select(@grouped_options), prompt: 'Choose...') %>
                </div>
                <div class="small-2 columns">
                  <%= f.label(:description_start, 'Product:', class: "right inline")  %>  
                </div>
                <div class="small-3 left columns">
                  <%= f.search_field :description_start %>
                </div>
              </div>
              <div class="row collapse">
                <div class="small-1 columns">
                  <%= f.label(:number_start, 'ID #:', class: "right inline")  %>  
                </div>
                <div class="small-1 left columns">
                  <%= f.search_field :number_start %>
                </div>
                <div class="small-2 columns">
                  <%= f.label(:checkout_gteq, 'Checkout:', class: "right inline")  %>  
                </div>
                <div class="small-3 left columns">
                  <%= f.date_field :checkout_gteq %>
                </div>
                <div class="small-2 columns">
                  <%= f.label(:checkin_lteq, 'Checkin:', class: "right inline")  %>  
                </div>
                <div class="small-3 left columns">
                  <%= f.date_field :checkin_lteq %>
                </div>
              </div>   
            </div>

          </div>
          
        <% end %>

      </div>
      <div id="divTable">
        <%= render('table') %>
      </div>
    </div>
  </div>
    <div class="large-3 columns">
      <div class="panel radius">
        <!-- <div class="panel callout radius"> -->
          <div class="large-centered">
              <%= link_to 'New Company', new_key_path, class: "button tiny radius", id: 'bNew', remote: true%>
          </div>
          <div id="divForm">
            <%#= render('form') %> 
          </div>
        <!-- </div> -->
      </div>
    </div>

<br>

</div>
