<p id="notice"><%= notice %></p>

<div class="row">
  <div class="large-3 columns panel radius">
    <div class="panel callout radius">
      <p>
        <strong>Facility:</strong>
        <%= @key.facility %>
      </p>
      <p>
        <strong>Company:</strong>
        <%= @key.company %>
      </p>
      <p>
        <strong>Product:</strong>
        <%= @key.description %>
      </p>
      <p>
        <strong>ID #:</strong>
        <%= @key.number %>
      </p>
      <p>
        <strong>Checkout:</strong>
        <%= @key.checkout %>
      </p>
      <p>
        <strong>Checkin:</strong>
        <%= @key.checkin %>
      </p>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_key_path(@key) %> |
<%= link_to 'Back', keys_path %>
